<div>
  <input type="color" id="bgColor" [(ngModel)]="initialBackgroundColor">
  <input type="text" [(ngModel)]="wordDefine">
</div>

<div id="main-container">
  <app-brilliance [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-brilliance>
  <app-slide-in [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-slide-in>
  <app-slide-out [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-slide-out>
  <app-slide-down [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-slide-down>
  <app-slide-up [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-slide-up>
  <app-typing [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-typing>
  <app-jump [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-jump>
  <app-to-italic [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-to-italic>
  <app-underline [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-underline>
  <app-underline-from-left [backgroundColor]="initialBackgroundColor"
    [wordDefine]="wordDefine"></app-underline-from-left>
  <app-underline-from-right [backgroundColor]="initialBackgroundColor"
    [wordDefine]="wordDefine"></app-underline-from-right>
  <app-underline-from-center [backgroundColor]="initialBackgroundColor"
    [wordDefine]="wordDefine"></app-underline-from-center>
  <app-line-through [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-line-through>
  <app-highlight [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-highlight>
  <app-bigger [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-bigger>
  <app-smaller [backgroundColor]="initialBackgroundColor" [wordDefine]="wordDefine"></app-smaller>
</div>