/* You can add global styles to this file, and also import other style files */
body {
    background-color: #DFDFE0;
}

span {
    font-size: 3vw;
    user-select: none;
    cursor: pointer;
    /* display: inline; */
}