.slideIn {
    user-select: none;
    cursor: pointer;
    display: inline;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s ease-in-out;
}

.slideIn.play {
    background-position: 0%;
}